define({
	"article_url": "<%= article_url %>",
	"goalkeeper": "<%= position_1_singular %>",
	"defender": "<%= position_2_singular %>",
	"midfielder": "<%= position_3_singular %>",
	"forward": "<%= position_4_singular %>",
	"defender midfielder": "<%= position_2_singular %> / <%= position_3_singular %>",
	"midfielder forward": "<%= position_3_singular %> / <%= position_4_singular %>",
	"twitter_text_intro": "<%= twitter_text_intro %>",
	"twitter_text_end": "<%= twitter_text_end %>",
	"facebook_text": "<%= facebook_text %>",
	"email_subject": "<%= email_subject %>",
	"email_message": "<%= email_message %>",
	"team_stats": "<%= team_stats %>",
	"team_clean_sheets": "<%= team_clean_sheets %>",
	"team_winners_medals": "<%= team_winners_medals %>",
	"team_world_cup_finals": "<%= team_world_cup_finals %>",
	"team_world_cup_goals": "<%= team_world_cup_goals %>",
	"label_more": "<%= label_more %>",
	"label_less": "<%= label_less %>",
	"position_label": "<%= position_label %>",
	"your_friend": "<%= your_friend %>",
	"language": "<%= vocab_dir %>"
})
