define({
<%
	for (var i=1;i<111; i++) {
		node(i);
	}
	function node(number) {
		var n = ("00" + number).slice(-3); %>
		"<%= n %>" : {
			"name" : "<%= obj['player_' + n + '_name'] %>",
			"country" : "<%= obj['player_' + n + '_country'] %>",
			"description" : "<%= obj['player_' + n + '_description'] %>",
			"tournaments" : "<%= obj['player_' + n + '_tournaments'] %>",
			"stats" : {
				"tournaments" : "<%= obj['player_' + n + '_stats_tournaments'] %>",
				"medals" : "<%= obj['player_' + n + '_stats_medals'] %>",
				"appearances" : "<%= obj['player_' + n + '_stats_appearences'] %>",
				"goals" : "<%= obj['player_' + n + '_stats_goals'] %>",
				"clean_sheets" : "<%= obj['player_' + n + '_stats_clean_sheets'] %>",
				"final_appearences" : "<%= obj['player_' + n + '_stats_extra1'] %>",
				"yellowcards" : "<%= obj['player_' + n + '_stats_yellowcards'] %>",
				"redcards" : "<%= obj['player_' + n + '_stats_redcards'] %>",
				"avtgspg" : "<%= obj['player_' + n + '_stats_av_teamgoals_scored_pergame'] %>",
				"avtgcpg" : "<%= obj['player_' + n + '_stats_av_teamgoals_conceded_pergame'] %>"
			}
		}
	<% if (number !== 110) { %> , <% } %>
<% }; %>
})