define({
	"played_in": "<%= played_in %>",
	"attacking_profile": "<%= attacking_profile %>",
	"defensive_profile": "<%= defensive_profile %>",
	"disciplined_profile": "<%= disciplined_profile %>",
	"experienced_profile": "<%= experienced_profile %>",
	"you": "<%= you %>",
	"expert": "<%= expert %>",
	"goals": "<%= goals %>",
	"attacking_strength": "<%= attacking_strength %>",
	"defensive_strength": "<%= defensive_strength %>",
	"discipline": "<%= discipline %>",
	"experience": "<%= experience %>",
	"goals_scored": "<%= goals_scored %>",
	"winner_medals": "<%= winner_medals %>",
	"final_appearances": "<%= final_appearances %>",
	"clean_sheets": "<%= clean_sheets %>",
	"language": "<%= vocab_dir %>"
})
