<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>


<p style="font-family: Arial, Helmet, Freesans, sans-serif;font-size: 14px;font-style: normal;font-variant: normal;font-weight: bold;width: 976px;margin: 20px auto;">Who are the greatest ever players at the FIFA World Cup finals?</p>
<p style="font-family: Arial, Helmet, Freesans, sans-serif;font-size: 14px;font-style: normal;font-variant: normal;width: 976px;margin: 20px auto;">As the 2014 tournament begins in Brazil, we look back at the players that left their mark on the history of the World Cup.</p>

<p style="font-family: Arial, Helmet, Freesans, sans-serif;font-size: 14px;font-style: normal;font-variant: normal;width: 976px;margin: 20px auto;">Click on the faces below to pick your favourite all-time team and share it with your friends.
</p>
<%= include("index.inc.tmpl") %>
<p></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>